<div class="nav-wrapper">
  <div class="brand-logo">
    <a routerLink="/">Городской сайт</a>
  </div>

  <ul>

    <li routerLinkActive="is-active">
      <a routerLink="#">Пункт 1</a>
    </li>

    <li routerLinkActive="is-active">
      <a routerLink="#">Пункт 2</a>
    </li>

    <li routerLinkActive="is-active">
      <a routerLink="#">Пункт 3</a>
    </li>

    <li routerLinkActive="is-active" class="mock-active">
      <a routerLink="#">Пункт 4</a>
    </li>

    <li routerLinkActive="is-active">
      <a routerLink="#">Пункт 5</a>
    </li>

  </ul>
</div>
