<nav class="header">
  <div class="nav-wrapper">
    <div class="brand-logo">
      <a routerLink="/">Городской сайт</a>
    </div>

    <ul class="menu">

      <li routerLinkActive="active">
        <a routerLink="#">Пункт 1</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Пункт 2</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Пункт 3</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Пункт 4</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Пункт 5</a>
      </li>

    </ul>
  </div>
</nav>

