<div class="container" >
  <form (ngSubmit)="onSubmit()" >
    <div>
      <p>Выберите способ регистрации:</p>
    </div>

    <div class="group-form">
      <input name="registration" type="radio" value="personal" [(ngModel)]="registration">
      <label for="personl">Персональная</label>
    </div>

    <div class="group-form">
      <input name="registration" type="radio" value="group" [(ngModel)]="registration">
      <label for="group">Регистрация пользователей списком</label>
    </div>

    <div class="group-form">
      <input
        type="file"
        name="file"
        id="file"
        class="inputfile"
        (change)="fileChanged($event)"
      >
      <label for="file">Загрузить список</label>
      <span class="selected-file">{{fileName}}</span>
    </div>

    <div class="group-form">
      <button type="submit" class="btn">Далее</button>
    </div>

  </form>
</div>
