<!-- <nav class="footer"> -->
  <div class="wrapper">
    <ul class="menu">

      <li routerLinkActive="active">
        <p>2016 Городской сайт</p>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Пользовательское соглашение</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Инструкции</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="#">Рекламодателям</a>
      </li>

      <li routerLinkActive="active">
        <p>Сделано в Беларуси</p>
      </li>

    </ul>
  </div>
<!-- </nav> -->
