ul {
  display: flex;
  list-style: none;
}

li {
  padding: 25px;
}

li:first-child {
  padding-right: 50px;
}

li:last-child {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #bcbcbc;
}

p {
  color: #bcbcbc;
}
