<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Все поля формы обязательны для заполнения</span>

    <!-- NUMBER of credit cart input -->
    <div>
      <label for="numberCard">Номер карты:</label>
      <!-- when input invalid -->
      <span class="helper-text" *ngIf="form.get('numberCard').invalid && form.get('numberCard').touched">
        <span *ngIf="form.get('numberCard').errors['required']">Заполните это поле</span>
      </span>

      <input
        formControlName="numberCard"
        type="text"
        [spMask]="numberMask"
        [ngClass]="{'invalid': form.get('numberCard').invalid && form.get('numberCard').touched}"
      >
    </div>

    <!-- DATE -->
    <div>
      <label for="dateCard">Месяц/год:</label>
      <!-- when input invalid -->
      <span class="helper-text" *ngIf="form.get('dateCard').invalid && form.get('dateCard').touched">
        <span *ngIf="form.get('dateCard').errors['required']">Заполните это поле</span>
      </span>

      <input
        formControlName="dateCard"
        type="text"
        [spMask]="dateMask"
        [ngClass]="{'invalid': form.get('dateCard').invalid && form.get('dateCard').touched}"
      >
    </div>

    <!-- CVC CODE -->
    <div>
      <label for="codeCard">CVC2 или CVV2:</label>
      <!-- when input invalid -->
      <span class="helper-text" *ngIf="form.get('codeCard').invalid && form.get('codeCard').touched">
        <span *ngIf="form.get('codeCard').errors['required']">Заполните это поле</span>
      </span>

      <input
        formControlName="codeCard"
        type="password"
        [spMask]="cvcMask"
        [ngClass]="{'invalid': form.get('codeCard').invalid && form.get('codeCard').touched}"
      >
    </div>

    <!-- CARD TYPE -->
    <div>
      <label for="typeCard">Тип карты:</label>
      <p><input name="typeCard" type="radio" [value]="cardTypes[0]" formControlName="typeCard" required>Дебетовая</p>
      <p><input name="typeCard" type="radio" [value]="cardTypes[1]" formControlName="typeCard" required>Кредитная</p>
    </div>

  </div>
  <!-- Button to back -->
    <a routerLink="/registration/personal-data">Личные данные</a>

  <!-- Next button -->
  <div class="card-action">
    <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">
      Далее
    </button>
  </div>
</form>
